.book {
  p {
    padding: 7.5px 0;
  }
  font-size: 20px;
  .highlight {
    color: #ff0000;
  }
  .comments {
    margin: 50px 0;
  }
  .columns {
    margin-top: 25px;
    display: flex;
    .left {
      flex-basis: 60%;
    }
    .right {
      i {
        font-size: 40px;
        margin-top: 8px;
        margin-right: 12px;
      }
      a{
        color: #000;
        text-decoration: none;
      }
      a:visited {
        color: #000;
      }
    }
  }
  margin-bottom: 80px;
}
