header.home {
	color: #000;
	margin-top: 30px;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;

	.title {
		display: block;
		margin-bottom: 5px;
	}
	.buttons {
		display: flex;
	}
	ul {
		display: flex;
		list-style: none;
		a {
			text-decoration: none;
			color: #000;
		}
		margin: 0;
	}
	ul.links {
		li {
			padding: 0 10px;
			justify-content: flex-start;
			line-height: 14px;
		}
	}
	ul.buttons {
		cursor: pointer;
		font-size: 56px;
		margin: 0;
		line-height: 18px;
		.disabled {
			cursor: default;
			color: #7F7F7F;
		}
	}
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 40px;
	font-size: 20px;
	.search-title {
		color: #7f7f7f;
		cursor: pointer;
	}
	span {
		margin-right: 10px;
	}
	input#search {
		width: auto;
		display: inline-block;
		flex-grow: 1;
		height: 20px;
		visibility: hidden;
	}
}

@media screen and (max-width: 768px) {
	// header.home {
	// 	flex-direction: column;
	// }
	.search-box {
		flex-direction: column;
		input#search {
			width: 96%;
		}
	}
}

.home-content {
	width: 60%;
	margin: auto;
	font-size: 14px;

	.books {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 100px;
		.book-placeholder {
			height: 100%;
		}
		.donator {
			margin-top: 10px;
			display: inline-block;
			height: 28px;
		}
		.book-item {
			flex-basis: 48.5%;
			padding-bottom: 36px;
			img {
				width: 100%;
			}
			display: flex;
			flex-flow: column;
			position: relative;
			.book-image {
				// background: #EEEEEE;
				flex: 1;
				flex-basis: auto;
				// min-height: 230px;
				.cover {
					background: #EEEEEE;
				}
			}
			.book-placeholder:before {
				font-size: 18px;
				color: #585858;
				content: 'Coming soon';
				margin: auto;
				width: 80%;
				text-align: center;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				display: block;
				line-height: 50px;
				height: 50px;
			}
		}
		&-1 {
			.book-item {
				flex-basis: 100%;
				// .book-image {
				// 	// min-height: 489px;
				// }
			}
		}
		&-3 {
			.book-item {
				flex-basis: 31.5%;
				// .book-image {
				// 	// min-height: 154px;
				// }
			}
		}
		&-4 {
			.book-item {
				flex-basis: 23%;
				// .book-image {
				// 	// min-height: 110px;
				// }
				padding-bottom: 40px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.home-content {
			width: 90%;
	}
	header.home {
		ul.buttons {
			display: none;
		}
	}
}
