header.home {
	color: #000;
	margin-top: 30px;
	margin-bottom: 48px;
	display: flex;
	justify-content: space-between;

	.title {
		display: block;
		margin-bottom: 5px;
	}
	.buttons {
		display: flex;
	}
	ul {
		display: flex;
		list-style: none;
		a {
			text-decoration: none;
			color: #000;
		}
		margin: 0;
	}
	ul.links {
		li {
			padding: 0 10px;
			justify-content: flex-start;
			line-height: 14px;
		}
	}
	ul.buttons {
		cursor: pointer;
		font-size: 56px;
		margin: 0;
		line-height: 18px;
		.disabled {
			cursor: default;
			color: #7F7F7F;
		}
	}
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 40px;
	font-size: 20px;
	.search-title {
		color: #7f7f7f;
		cursor: pointer;
	}
	span {
		margin-right: 10px;
	}
	input#search {
		width: auto;
		display: inline-block;
		flex-grow: 1;
		height: 20px;
		visibility: hidden;
	}
}

@media screen and (max-width: 768px) {
	.search-box {
		flex-direction: column;
		input#search {
			width: 96%;
		}
	}
}

.home-content {
	width: 60%;
	margin: auto;
	font-size: 14px;

	.books {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 100px;
		.book-placeholder {
			height: 100%;
		}
		.donator {
			margin-top: 10px;
			display: inline-block;
			/*height: 28px;*/
		}
		.book-item:not(.book-void):before {
			content: 'Coming soon';
			position: absolute;
			margin-top: 33%;
		    left: 0;
		    right: 0;
		    text-align: center;
		    z-index: -1;
		    color: #b9b3b3;
		}
		.book-item {
			flex-basis: 48.5%;
			padding-bottom: 36px;
			img {
				width: 100%;
			}
			img.placeholder {
				position: relative;
				z-index: -2;
			}
			position: relative;
		}
		&-1 {
			.book-item {
				flex-basis: 100%;
			}
		}
		&-3 {
			.book-item {
				flex-basis: 31.5%;
			}
		}
		&-4 {
			.book-item {
				flex-basis: 23%;
				padding-bottom: 40px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.home-content {
			width: 90%;
	}
	header.home {
		ul.buttons {
			display: none;
		}
	}
}
