html, body {
  color: #534741;
  font-size: 20px;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

footer {
  font-size: 16px;
  line-height: 20px; }

.main {
  margin-left: 133px; }

.content {
  margin-left: 7px;
  padding-top: 13px;
  width: 458px; }

.content.info {
  font-size: 20px; }
  .content.info .logo {
    margin-top: 30px; }

p {
  margin: 0;
  padding: 15px 0 15px 0; }

.number {
  display: block;
  color: #ED1C24;
  text-align: left;
  font-size: 60px;
  font-family: museo-slab, serif;
  font-weight: 100; }

label {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: none;
  color: #6B6B6B;
  margin-top: 30px;
  margin-bottom: 12px; }

input, textarea {
  display: block;
  width: 100%;
  font-style: italic;
  color: #C4C4C4;
  font-size: 20px;
  padding: 6px;
  background: #F2F2F2;
  border: 1px solid #ccc; }

input:hover, input:focus, textarea:hover, textarea:focus {
  font-style: normal;
  color: #000000;
  background: #fff; }

button[type="submit"] {
  padding: 8px 28px;
  background: #fff;
  border: 1px solid black;
  font-size: 20px;
  margin: 10px 0;
  margin-top: 15px; }

footer {
  margin-bottom: 150px; }

hr {
  border: 0;
  height: 1px;
  background: #333; }

#flash-messages {
  position: fixed;
  background: #ff5555;
  color: #fff;
  padding: 30px;
  width: 100%; }
<<<<<<< 63218e0c900442e42bc777ca80ac9ab657708cd4
=======

header.home {
  color: #000;
  margin-top: 30px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between; }
  header.home .title {
    display: block;
    margin-bottom: 11px; }
  header.home .buttons {
    display: flex; }
  header.home ul {
    display: flex;
    list-style: none;
    margin: 0; }
    header.home ul a {
      text-decoration: none;
      color: #000; }
  header.home ul.links li {
    padding: 0 10px;
    justify-content: flex-start;
    line-height: 14px; }
  header.home ul.buttons {
    cursor: pointer;
    font-size: 56px;
    margin: 0;
    line-height: 18px; }
    header.home ul.buttons .disabled {
      cursor: default;
      color: #7F7F7F; }

.home-content {
  width: 730px;
  margin: auto;
  font-size: 14px; }
  .home-content .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px; }
    .home-content .books .donator {
      margin-top: 10px;
      display: inline-block; }
    .home-content .books .book-item {
      flex-basis: 355px;
      padding-bottom: 36px;
      display: flex;
      flex-flow: column;
      position: relative; }
      .home-content .books .book-item img {
        width: 100%;
        display: block; }
      .home-content .books .book-item .book-image {
        background: #DCDCDC;
        flex: 1;
        flex-basis: auto; }
    .home-content .books-4 .book-item {
      flex-basis: 100%; }
    .home-content .books-2 .book-item {
      flex-basis: 230px; }
    .home-content .books-1 .book-item {
      flex-basis: 167.5px;
      padding-bottom: 40px; }
      .home-content .books-1 .book-item .donator {
        display: none; }
<<<<<<< 2c29bee146a93de8183768e344fd73710c1c51e1
>>>>>>> improve design based on billys spec
=======

.book {
  margin-top: -30px;
  font-size: 20px;
  margin-bottom: 80px; }
  .book p {
    padding: 7.5px 0; }
  .book .highlight {
    color: #ff0000; }
  .book .comments {
    margin: 50px 0; }
  .book .columns {
    margin-top: 25px;
    display: flex; }
    .book .columns .left {
      flex-basis: 60%; }
    .book .columns .right {
      text-align: center; }
>>>>>>> book detail page styled
