html, body {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

a, a:visited {
  color: #000; }

a:hover {
  color: #7f7f7f; }

h1 {
  margin: 12px 0 0 0;
  font-size: 20px;
  padding: 0;
  font-weight: normal; }

footer {
  font-size: 16px;
  line-height: 20px; }

.main {
  margin-left: 133px; }

.content {
  margin-left: 7px;
  padding-top: 13px;
  width: 70%; }

@media screen and (max-width: 768px) {
  .content {
    width: 100%; } }

.content.info {
  font-size: 20px; }
  .content.info .logo {
    margin-top: 30px; }
  .content.info img {
    width: 100%; }

p {
  margin: 0;
  padding: 0px 0 30px 0; }

p:first-of-type {
  padding-top: 0; }

.number {
  display: block;
  color: #ED1C24;
  text-align: left;
  font-size: 60px;
  font-family: museo-slab, serif;
  font-weight: 100; }

label {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: none;
  color: #6B6B6B;
  margin-top: 30px;
  margin-bottom: 12px; }

input, textarea {
  display: block;
  width: 90%;
  font-style: italic;
  color: #C4C4C4;
  font-size: 20px;
  padding: 6px;
  background: #F2F2F2;
  border: 1px solid #ccc; }

input:hover, input:focus, textarea:hover, textarea:focus {
  font-style: normal;
  color: #000000;
  background: #fff; }

button[type="submit"] {
  padding: 8px 28px;
  background: #fff;
  border: 1px solid black;
  font-size: 20px;
  margin: 10px 0;
  margin-top: 15px; }

footer {
  margin-bottom: 150px; }

hr {
  border: 0;
  height: 1px;
  background: #333; }

#flash-messages {
  position: fixed;
  background: #ff5555;
  color: #fff;
  padding: 30px;
  width: 100%; }

header.home {
  color: #000;
  margin-top: 30px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between; }
  header.home .title {
    display: block;
    margin-bottom: 5px; }
  header.home .buttons {
    display: flex; }
  header.home ul {
    display: flex;
    list-style: none;
    margin: 0; }
    header.home ul a {
      text-decoration: none;
      color: #000; }
  header.home ul.links li {
    padding: 0 10px;
    justify-content: flex-start;
    line-height: 14px; }
  header.home ul.buttons {
    cursor: pointer;
    font-size: 56px;
    margin: 0;
    line-height: 18px; }
    header.home ul.buttons .disabled {
      cursor: default;
      color: #7F7F7F; }

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 40px;
  font-size: 20px; }
  .search-box span {
    margin-right: 10px; }
  .search-box input#search {
    width: auto;
    display: inline-block;
    flex-grow: 1;
    height: 20px; }

@media screen and (max-width: 768px) {
  .search-box {
    flex-direction: column; }
    .search-box input#search {
      width: 96%; } }

.home-content {
  width: 60%;
  margin: auto;
  font-size: 14px; }
  .home-content .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px; }
    .home-content .books .book-placeholder {
      height: 100%; }
    .home-content .books .donator {
      margin-top: 10px;
      display: inline-block; }
    .home-content .books .book-item {
      flex-basis: 48.5%;
      padding-bottom: 36px;
      display: flex;
      flex-flow: column;
      position: relative; }
      .home-content .books .book-item img {
        width: 100%; }
      .home-content .books .book-item .book-image {
        flex: 1;
        flex-basis: auto; }
        .home-content .books .book-item .book-image .cover {
          background: #EEEEEE; }
      .home-content .books .book-item .book-placeholder:before {
        font-size: 18px;
        color: #585858;
        content: 'Coming soon';
        margin: auto;
        width: 80%;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        line-height: 50px;
        height: 50px; }
    .home-content .books-1 .book-item {
      flex-basis: 100%; }
    .home-content .books-3 .book-item {
      flex-basis: 31.5%; }
    .home-content .books-4 .book-item {
      flex-basis: 23%;
      padding-bottom: 40px; }

@media screen and (max-width: 768px) {
  .home-content {
    width: 90%; }
  header.home ul.buttons {
    display: none; } }

.book {
  font-size: 20px;
  margin-bottom: 80px; }
  .book .main-cover img {
    width: 100%; }
  .book p {
    padding: 7.5px 0; }
  .book .highlight {
    color: #ff0000; }
  .book .comments {
    margin: 50px 0; }
  .book .columns {
    margin-top: 25px;
    display: flex; }
    .book .columns .left {
      flex-basis: 60%;
      margin-right: 70px; }
    .book .columns .right i {
      font-size: 40px;
      margin-top: 8px;
      margin-right: 12px; }
    .book .columns .right a {
      color: #000;
      text-decoration: none; }
    .book .columns .right a:visited {
      color: #000; }

@media screen and (max-width: 768px) {
  .book .columns {
    display: block; }
    .book .columns .left {
      flex-basis: 100%; } }

.cover img {
  display: block; }

.cover img:last-child {
  display: none; }

.cover:hover img:first-child {
  display: none; }

.cover:hover img:last-child {
  display: block; }

.cover * {
  transition: 1s; }

.hidden {
  display: none; }
